<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
</head>
<body>
    <div class="line-bc">
        <div class="line-chat" id="chat">
            <div id="line">
            </div>
        </div>
        <div class="line-input">
            <tr>
            <td>
                <label for="image">
                +
                <input id="image" name="image" type="file" accept="image/png" style="display: none;">
                </label>
            </td>
            <td><input id="chat-message-input" size="50" type="text" class="box2"/></td>
            <td><input id="chat-message-submit" type="button" value="Send" class="square_btn"/></td>
            </tr>
        </div>
    </div>
</body>
<script>
    var roomName = {{ room_name_json }};
    var session_key = {{ session_key }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var type = data['type'];
        var key = data['session_key'];
        var time = data['time'];
        var message;
        var url;
        var div_element = document.createElement('div');
        var chatting_element = document.createElement('div');
        var says_element = document.createElement('div');
        var user_name_element = document.createElement('div');
        var p_element = document.createElement('p');
        var face_icon_div_element = document.createElement('div');
        var face_icon_img_element = document.createElement('img');
        var img_element = document.createElement('img');
        var self_img_element = document.createElement('img');
        var time_element = document.createElement('div');
        time_element.textContent = time;
        if(key !== session_key) {
            div_element.className = 'balloon6';
            chatting_element.className = 'chatting';
            says_element.className = 'says';
            user_name_element.className = 'user_name';
            face_icon_div_element.className = 'faceicon';
            face_icon_img_element.src = '/static/chat/img/man.png';
            time_element.className = 'chat_time';
            if(type === 'chat_message'){
                message = data['message'];
                says_element.textContent = message;
            }else if(type === 'chat_image'){
                url = data['url'];
                img_element.src = url;
                img_element.width = 300;
                says_element.appendChild(img_element);
            }
            user_name_element.textContent=data['user_name'];
            chatting_element.appendChild(user_name_element);
            chatting_element.appendChild(says_element);
            chatting_element.appendChild(time_element);
            face_icon_div_element.appendChild(face_icon_img_element);
            div_element.appendChild(face_icon_div_element);
            div_element.appendChild(chatting_element);
        }else {
            div_element.className = 'mycomment';
            time_element.className = 'mycomment_time';
            if(type === 'chat_message'){
                message = data['message'];
                p_element.textContent =  message ;
            }else if(type === 'chat_image'){
                url = data['url'];
                self_img_element.src = url;
                self_img_element.width = 300;
                p_element.appendChild(self_img_element);
            }
            div_element.appendChild(p_element);
            div_element.appendChild(time_element);
        }
        var parent_object = document.getElementById('line');
        parent_object.appendChild(div_element);
        var scroll_obj = document.getElementById('chat');
        scroll_obj.scrollTop = scroll_obj.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        if(message) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'session_key': session_key,
            }));
            messageInputDom.value = '';
        }
    };

    document.getElementById('image')
        .addEventListener('change', function(evt) {
            var file = evt.target.files[0];
            var input = document.querySelector('#image');
            chatSocket.send(file);
            input.value = '';

        }, false);

</script>
</html>